h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-right: em;
}

.search {
    background:#ffff;
    border:2px solid rgb(230, 225, 225);
    height: 45px;
    margin-left: 30rem;
}

.nav {
    margin-top: 1rem;
    justify-content: center;
    max-width: 100%;
}

#konten {
    display: flex;
    /* margin-top: 2rem; */
    margin-left: 8rem;
}

#search {
    display: flex;
    /* margin-top: 2rem; */
    margin-left: 8rem;
}

.card-rate {
    margin-top: 1em;
    text-align: right;
    margin-right: 0.5em;
}

.card {
    margin: 2rem auto ;
}

.card-text {
    text-align: bottom;
}
