h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.search {
    background:#ffff;
    border:2px solid rgb(230, 225, 225);
    height: 45px;
    margin-left: 17rem;
}

.nav {
    margin-top: 1rem;
    justify-content: center;
    max-width: 100%;
}

#konten {
    display: flex;
    margin-top: 2rem;
    margin-left: 13rem;
}

.card {
    margin-right: 1em;
}

#search {
    display: flex;
    margin-top: 2rem;
    margin-left: 13rem;
}